* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(44, 42, 42);
    color: gray;
    padding: 20px;
    width: 450px;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 20px;
    gap: 10px;
}

#screen {
    background-color: whitesmoke;
    height: 100px;
    width: 395px;
    border-radius: 10px;
    color: black;
    text-align: right;
    padding-top: 40px;
    padding-right: 20px;
}

#clear {
    background-color: rgb(193, 144, 240);
}

#clear:hover {
    background-color: rgb(193, 144, 240, 0.9);
}

.remove {
    font-size: 2rem;
    padding: 12px 48px;
    background-color: rgb(238, 125, 144);
    border-radius: 8px;
    margin: 5px;
}

.remove:hover {
    background-color: rgb(235, 119, 139, 0.9);
}



.input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background-color: rgb(212, 209, 209);
    padding: 6px;
    margin: 6px;
    cursor: pointer;
    border-radius: 8px;
    color: black;
    border-color: whitesmoke;
}

.button:hover {
    background-color: rgba(212, 209, 209, 0.7);
}

.button:hover {
    background-color: rgba(212, 209, 209, 0.7);;
}

img {
    height: 30px;
}

footer {
    padding-top: 48px;
    text-align: center;
    font-size: 1.5rem;
}